
.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap li{
  line-height: 48px;
  font-size: 30px;
  cursor: pointer;
  color: var(--primary-color);
}

.wrap li:hover{
  text-decoration: underline;
  color: #000;
}